/* Basic */
body {
  height: 100vh;
  background-color: rgb(118, 180, 120);
  background-size: cover;
  background-position: center;
}
/* HERO */
.intro {
  height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  line-height: 1.5;
  padding: 15px;
}
.outreach {
  height: calc(0vh - 200px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  line-height: 1.5;
  padding: 15px;
}
.Text1{
  color: #fff;
  padding: 0.05rem 0.5rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: bold;
}
.homepage_action_btn {
  background-color: rgb(44, 79, 48);
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
}

.homepage_action_btn:hover {
  scale: 1.05;
  color: #fff;
}

.homepage_action_btn:active {
  scale: 0.95;
}
